

a {
color: inherit;
text-decoration: none;
}

body, html {
  height: 100%;
}

body {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Sans-serif;
margin: 0px;
color: #3d3536;
background-color: white;
}

#adventure-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    left: 5%;

}
.container {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.header #side {
  float: left;
  margin: 13px 0 0 5%;
}
.header #side img {
  display: block;
}

.img-scaled {
  width: 100%;
  height: 100%;
}

.img-scaled-wh {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-nav {
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background-size: 44px 44px;
  cursor: pointer;

}
.main-nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.main-nav li {
    display: inline-block;
    margin-left: 1em;
}
.main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
}
.main-nav a:hover {
    color: #3a89d2;
}

.main-content {
  height: 100%;
  position: relative;
  z-index: 1;
}
.fixed-bg{
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.fixed-bg h1, .fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0px 1px 6px rgba(0,0,0,1);
  color: white;
}
.fixed-bg {
    background-attachment: fixed;
  }

.fixed-bg h1, .fixed-bg h2 {
    font-size: 48px;
    font-weight: 300;
  }
.fixed-bg.bg1 {
  background-image: url("img/main_bg1.jpg");
}
.fixed-bg.bg2 {
  background-image: url("img/main_bg2.jpg");
}
.fixed-bg.bg3 {
  background-image: url("img/main_bg3.jpg");
}
.fixed-bg.bg4 {
  background-image: url("img/main_bg4.jpg");
}
.fixed-bg.bg5 {
  background-image: url("img/main_bg5.jpg");
}
.fixed-bg.adventure-bg1 {
  background-image: url("img/adventure_bg1.jpg");
}
.fixed-bg.adventure-bg2 {
  background-image: url("img/adventure_bg2.jpg");
}
.fixed-bg.food-bg1 {
  background-image: url("img/food_bg1.jpg");
}
.fixed-bg.food-bg2 {
  background-image: url("img/food_bg2.jpg");
}
.fixed-bg.food-bg3 {
  background-image: url("img/food_bg3.jpg");
}

.scroll-bg {
  padding: 8em 0;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
.scroll-bg {
  position: relative;
  min-height: 60%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.scroll-bg.c1 {
  background-color: #ccdde6;
  color: #3d3536;
}
.scroll-bg.c2 {
  background-color: #ccdde6;
  color: #3d3536;
}
.scroll-bg.c3 {
  background-color: #ccdde6;
  color: #3d3536;
}
.scroll-bg.c4 {
  background-color: #ccdde6;
  color: #3d3536;
}

.adventure-scroll-bg {
  position: relative;
  min-height: 200%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.adventure-scroll-bg.c1 {
  background-color: #ccdde6;
  color: #3d3536;
}
.food-scroll-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.food-scroll-bg.c1 {
  background-color: #ccdde6;
  color: #3d3536;
}
.food-scroll-bg.c2 {
  background-color: #ccdde6;
  color: #3d3536;
}

.adventure-item img{
  height: 350px;
  padding: 10px;
  border-radius: 30px;
  opacity: 0.7;
}


h3 { 
   position: absolute;
   top: 200px; 
   left: 10; 
   width: 100%;
   color: black;
}
h3 span { 
   color: white; 
   font: bold 26px/48px Open Sans; 
   letter-spacing: -1px;  
   background: black;
   background: black;
   padding: 5px; 
}
h3 span.spacer {
   padding:0 5px;
}

#modal-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#modal-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0.5;
    z-index: -1;
}
#modal-box {
    position: absolute;
    top: -2%;
    left: 10%;
    width: 600px;
    height: 500px;
    padding: 20px;
    background: #00496b;
    color: white;
}

#link {
    background: #00496b;
    color: white;
    float: right;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 160px;
    margin-right: 60px;
}

#cookie-box img {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 380px;
  border-radius: 20px;
}

.text{
  position: absolute;
  top: 20%;
  left: 62%;
  width: 200px;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  color: #00496b;
}

#cookie-box {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 5%;
    width: 700px;
    height: 260px;
    padding: 20px;
    background: white;
    border: 3px;
    border-radius: 30px;
    border-style: solid;
    border-color: transparent;
}